@import '../../app/globals.scss';

.projects-section{
    width: 100%;
    min-height: 100vh;
    background-color: $black;
    padding-top: 80px;
    padding-bottom: 30px;

    .projects-container{
        height: 100%;
        width: 85%;
        margin: 0 auto;

        .projects-h1{
            color: $gray;
            font-size: 50px;
            margin-bottom: 20px;
            opacity: 0;
        }

        .projects_cards-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            transform: translateY(100px);
            opacity: 0;
        }
    }

    
}

@media (min-width: 900px){
    .projects-section{
        padding-top: 80px;
        .projects-container{
            width: 80%;
            margin: 0 auto;
            height: 100%;
            padding: 0;
        }
    }
}