@import '../../app/globals.scss';
.hero-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .hero-title{
        position: absolute;
        color: $white;
        font-size: 55px;
        z-index: 1;
        text-align: center;
        padding: 0px 20px;

        #name{
            opacity: 0;
        }
        #frontend{
            opacity: 0;
        }
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw; 
        height: 100%; 
        object-fit: cover; 
      }

}

@media (min-width: 600px){
    .hero-section{
        .hero-title{
            font-size: 100px;
        }
    }
    
}