@import '../../../app/globals.scss';

.button{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: $gray;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}