@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #101010;
$gray: #d1d1d1;
$white: #ffffff;
$dark-gray: #1f1c1d;
$gray-button: #ded9db;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-snap-type: y proximity;   
}

.main_page-section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}